<%- include("../partials/header") %>

<div class="container">
  <div class="jumbotron my-4 my-lg-5 py-3" style="background-color: #303131;">
    <h3 style="color:#D4D5D4 ;">Welcome to the Drip Store</h3>
  </div>
  <div class="row">
    <div class="card ml-5" style="width: 20rem">
      <img
        class="card-img-top"
        src="/mobiles-1.png"
        alt="Card image cap"
        height="300px"
      />
      <div class="card-body">
        <h5 class="card-title">iPhone</h5>
        <p class="card-text">
          Check out our new Iphone 13.
        </p>
        <a href="/home/mobile" class="btn btn-primary">check here</a>
      </div>
    </div>
    <div class="card ml-5" style="width: 20rem">
      <img
        class="card-img-top"
        src="/varsity.png"
        alt="Card image cap"
        height="300px"
      />
      <div class="card-body">
        <h5 class="card-title">Varsity Jacket</h5>
        <p class="card-text">
          Get exciting credit card offers.
        </p>
        <a href="/home/clothes" class="btn btn-primary">check here</a>
      </div>
    </div>
    <div class="card ml-5" style="width: 20rem">
      <img
        class="card-img-top"
        src="/sneaker.jpg"
        alt="Card image cap"
        height="300px"
      />
      <div class="card-body">
        <h5 class="card-title">Sneakers</h5>
        <p class="card-text">
          Gift your friends and family with trending sneakers.
        </p>
        <a href="/home/stationary" class="btn btn-primary">check here</a>
      </div>
    </div>
  </div>
</div>

<%- include("../partials/footer") %>
